//html {
//  overflow-x: hidden;
//  overflow-y: auto;
//}
body,p{
  margin:0;
}
header{
  background: #ccc;
  &:after{
    content: '';
    display: block;
    clear: both;
  }
  a{
    color: #111;
    text-decoration: none;
  &：hover{
    color: cornsilk;
  }
  }
}

.addNote{
  padding-left:10px;
  cursor:pointer;
  font-size:30px;
  float: left ;

}
.login ,.login1{
  float: right;
  padding-right:10px;
  cursor: pointer;
  font-size:14px;
  line-height:30px;
  img{
    display: inline-block;
    height: 30px;
    line-height:30px;
    border-radius: 50%;
    vertical-align: bottom;
}
}

